<h1>Roster</h1>
<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Roster Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @rosters.each do |r| %>
      <tr>
        <td><%= r.company.name %></td>
        <td><%= r.roster_date %></td>
        <td><%= link_to 'Show', r %>
        <%= link_to 'Edit', edit_roster_path(r) %>
        <%= link_to 'Delete', roster_path(r), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h3>
 <%=link_to "New Roster" , new_roster_path%> |
 <%= link_to "Back to Manager DashBoard", root_path %><br/>
</h3>