<%= form_with(model: @employee, local: true) do |f| %>
 <p>  
   <%= f.label :Select_Date %><br/>
   <%= f.date_field :roster_date %>
 </p>
 <p>
   <%= f.label :company_id %><br/>
   <%= f.collection_select :company_id, Company.all, :id, :name %>
 </p>
 <p>
 <%= f.submit %>
 </p>
<% end %>
