<h1>Shifts</h1>
<table>
  <thead>
    <tr>
      <th>Shift Start time</th>
      <th>Shift End time</th>
      <th>Employee</th>
      <th>Employee Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @shifts.each do |s| %>
      <tr>
        <td><%= s.start_time %></td>
        <td><%= s.end_time %></td>
        <td><%= s.employee.name %></td>
        <td><%= s.employee.role.present? ? s.employee.role : "not assigned" %></td>
        <td><%= link_to 'Show', s %> |
        <%= link_to 'Edit', edit_shift_path(s) %> |
        <%= link_to 'Delete', shift_path(s),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h3>
 <%= link_to "To add new shifts", rosters_url%>
 <%= link_to "Back to Manager DashBoard", root_path %><br/>
</h3>