<% if current_user %>
  <h1><u>DashBoard</u></h1>
    <h2><p>Hello <%= current_user.username %></p></h2>
    <h3><p><b>You are a <%= current_user.role %> at <%= current_user.company.name%></b></p></h3>
    <h2><%=link_to "For more details" , "/admin"%></h2>
    <h2><%= link_to "Sign out", destroy_user_session_path,data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></h2>
<% else %>
  <h2>
   <p>Home Page.</p>
   <strong><%= link_to "User login" , new_user_session_path %><br/>
   <b>If you are a new user, login to admin and create user</b><br/>
   <%= link_to "Admin Login", "/admin" %></strong>
  </h2>
<% end %>

